- content_for :javascript do
  :javascript
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
.Polaris-Page
  %h2 Products
  %ul
    - @products.each do |product|
      %li= link_to product.title, "https://#{@shop_session.url}/admin/apps/product-specifications-1/product_specs/#{product.id}", target: "_top"
      / %li= link_to product.title, product_specs_url(product.id), target: '_top', 'data-polaris-unstyled' => 'true'